:root {
    --primary-color: #7c3aed;
  }
  body {
    background-color: aquamarine;
    text-align: center;
    margin: 5rem;
  }
    
  h1 {
    font-size: 250%;
    margin: 2rem;
  }
  
  .input-label {
    display: block;
    font-size: 150%;
    font-weight: 600;
  }
  
  .input {
    font-size: 20px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 120%; 
    max-width: 300px;
  }
  
  #show-btn {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
  }
  
  #result {
    font-size: x-large;
    margin: 2rem 0;
    font-weight: 400;
  }
  